<p style="color: green"><%= notice %></p>

<%= render @author %>

<div>
  <%= link_to "Edit this author", edit_author_path(@author) %> |
  <%= link_to "Back to authors", authors_path %>

  <%= button_to "Destroy this author", @author, method: :delete %>
</div>

<% if @author.books.present? %>
  <h2>Author's books</h2>
<% end %>

<% @author.books.each do |book| %>
  <p>
    <%= link_to "#{book.title}", book_path(book) %> | Production year : <%= book.production_year %>
  </p>
<% end %>
